@page "/LogViewer"

@using KubeLife.Domain.Models;
@using Microsoft.AspNetCore.WebUtilities
@using KubeLife.BlazorApp.Extensions
@inject NavigationManager NavManager

@using KubeLife.Domain;
@using KubeLife.Core.Extensions;
@using KubeLife.Kubernetes.Models;

@inject IKubernetesDomain domainService;


@if (!LogResults.IsAny())
{
    <p><em>Loading...</em></p>
}
else
{
    @if (!string.IsNullOrWhiteSpace(QueryResult))
    {
        <p>
            <em>@((MarkupString)QueryResult)</em>
        </p>
    }

    if (LogResults.IsAny())
    {
        <div>
            <label for="pods">Pods : </label>
            <select name="pods" @onchange="PodComboBoxChanged">
                @foreach (var itm in LogResults)
                {
                    <option>@itm.PodName</option>
                }
            </select>
        </div>
        <br/>
        <p style="background-color:black; color:white;">
            @((MarkupString)LogText)
        </p>
    }
}

@code {
    public string PodNamesRaw { get; set; }
    public string KubeNamespace { get; set; }

    public string QueryResult { get; set; }
    public List<KubeLogModel> LogResults { get; set; }
    public string LogText { get; set; }

    protected override async Task OnInitializedAsync()
    {
        KubeNamespace = NavManager.QueryStringSingle("Namespace");
        PodNamesRaw = NavManager.QueryStringSingle("PodNames");
        var podNames = PodNamesRaw.Split(",").ToList();
        if (string.IsNullOrWhiteSpace(PodNamesRaw) || !podNames.IsAny())
            QueryResult = "There is no 'Job Detail' provided.";

        LogResults = await domainService.GetLogOfAllPods(KubeNamespace, podNames);
        if (!LogResults.IsAny())
            QueryResult = "There is no 'POD' data found.";
        else
            await PodNameChanged(LogResults[0].PodName);
    }

    public async Task PodComboBoxChanged(ChangeEventArgs e)
    {
        var tmpPodName = e.Value.ToString();
        await PodNameChanged(tmpPodName);
    }

    public async Task PodNameChanged(string podName)
    {
        var log = await domainService.GetLogOfPod(KubeNamespace, podName);
        if (log.IsLogFound)
            LogText = log.LogTextHtml;
        else
        {
            LogText = "";
            QueryResult = log.ErrorMessage;
        }
    }
}

