@page "/LogViewer"

@using Microsoft.AspNetCore.WebUtilities
@using KubeLife.BlazorApp.Extensions
@inject NavigationManager NavManager

@using KubeLife.Domain;
@using KubeLife.Core.Extensions;
@using KubeLife.Kubernetes.Models;

@inject IKubernetesDomain domainService;


@if (string.IsNullOrEmpty(QueryResult))
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>@QueryResult</em></p>
    <p>@LogDetail</p>
}

@code {
    public string JobName { get; set; }
    public string KubeNamespace { get; set; }

    public string QueryResult { get; set; }
    public string LogDetail { get; set; }

    protected override async Task OnInitializedAsync()
    {
        KubeNamespace = NavManager.QueryStringSingle("Namespace");
        JobName = NavManager.QueryStringSingle("JobDetail");
        if (string.IsNullOrWhiteSpace(JobName))
            QueryResult = "There is no 'Job Detail' provided.";

        var logResult = await domainService.GetLogofJob(KubeNamespace, JobName);
        QueryResult = !logResult.IsSuccess ? logResult.Message : logResult.Result;
    }
}

