@page "/LogViewer"

@using KubeLife.Core.Models;
@using KubeLife.Domain.Models;
@using Microsoft.AspNetCore.WebUtilities
@using KubeLife.BlazorApp.Extensions
@inject NavigationManager NavManager

@using KubeLife.Domain;
@using KubeLife.Core.Extensions;
@using KubeLife.Kubernetes.Models;

@inject IKubernetesDomain domainService;



@if (!string.IsNullOrWhiteSpace(QueryResult))
{
    <p>
        <em>@((MarkupString)QueryResult)</em>
    </p>
}
<div>
    @if (LogResults.IsAny())
    {
        <div>
            <label for="pods">Pods : </label>
            <select name="pods" @onchange="PodComboBoxChanged">
                @foreach (var itm in LogResults)
                {
                    <option>@itm.Result.PodName</option>
                }
            </select>
        </div>
        <br />
    }
    @if (!string.IsNullOrWhiteSpace(LabelForLog))
    {
        <label>@LabelForLog</label>
        <br />
    }
    @if (!string.IsNullOrWhiteSpace(LogText))
    {
        <p style="background-color:black; color:white;">
            @((MarkupString)LogText)
        </p>
    }
</div>